/* body{
    background: #ffffff;
    background: -webkit-gradient(to right, #ffffff,#ffffff);
    background: linear-gradient(to right,#ffffff,#ffffff);
    border-radius: 15px 50px 30px;
    padding: 20px; 
    width: 200px;
    height: 150px; 
} */